
body {
       text-align: left;
	font-family: courier,sans-serif;
       size: 10pt;
}

.flex-container {
	display: flex;
	background-color: pink;
}

.flex-container > div {
	background-color: white;
	margin:10px;
	padding: 20px;
	font-size: 30px;
}

.side-margin-left {
	width: 80px;
	font-family: 'Outfit', sans-serif;
	font-weight: 'ExtraBold';
	font-size: 4em;
}

.site-body {
	width: 760px;
	font-family: 'Zen Antique';
	font-size: 2em;
}

#blurb {
margin-left: 40%;
}
h2 {
	margin-top: 6em;
	margin-bottom: 4;
	font-size: 2em;
	font-family: courier, sans-serif;
	color: #595179;}   

body, html{
	height: 100%;
}

a[href^="mailto:"]
{
	font-family:  courier, sans-serif;
	color:	#595179;

}

