
body {
       text-align: left;
	font-family: courier,sans-serif;
       size: 10px;
}



.container-left {
	padding-left: 20px;
	width: 780px;
	display: flex;
	flex-direction: column;
	
}

.container-right {
	
	flex-direction: column;
	width: 160px;
	font-family: 'Zen Antique', sans-serif;
	font-size: 0.8em;
	display: flex;
	
}

.blurb-companies{
	display: flex;
	flex-direction: row;
	flex: 100%
}

.companies-group{
	display: flex;

	flex: 50%;
	font-size: 10px;

}

@media (max-width: 560px){
	.container-left, .container-right, .companies-group {
		flex: 100%;
	}
}
.grid-container {
	
	

}

img {
	max-width: 300px;
	max-height: 300px;
}
.face {
	margin: 24px 0 12px 0;
	border-radius: 150px;
		box-shadow: 5px 5px 5px #ccc;
}

h1 {
	font-family:'Ramaraja', serif;
	font-size:6em;
	font-weight: bold;
	padding-left: 20px;

}
.title{
	margin: 0 0 0 0;
	padding-left: 20px;
	padding-bottom: 0;
}

h2 {
	font-size: 2em;
	font-family: 'Ramaraja', serif;
	margin: 0 0 0 0;

}   

.blurb {
	margin: 0 0 0 0;
	text-align: left;
	display: flex;
	flex-direction: row;
	flex: 100%;
}

.blurb-para {
	margin: 12px 0 0 0;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 'light';

}

.para-big{
	font-size: 36px;
	padding-bottom: 24px;

}

.ga-links {
	padding-top: 116px;
	font-family:  'Zen Antique', sans-serif;
	text-align: right;
	text-size: 10px;
}

body, html{
	height: 100%;
}

a[href^="mailto:"]
{
	font-family:  'Zen Antique', sans-serif;
	color:	#595179;
}

