
body {
       text-align: left;
	font-family: courier,sans-serif;
       size: 10pt;
}

#blurb {
margin-right: auto;
margin-left: auto;
}
h2 {
	margin-bottom: 4;
	size: 20;
	font-family: courier, sans-serif;
	color: #595179;}   

body, html{
	height: 100%;
}

a[href^="mailto:"]
{
	font-family:  courier, sans-serif;
	color:	#595179;

}

